.userBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 12px 4px 4px;
  background: #f1f7f9;
  border-radius: 24px;
  margin-top: auto;
}

.userBubble img {
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

.userBubble p {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #1a1a1a;
}
