.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal section {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    height: fit-content;
}